---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

<script>
document.addEventListener('mousemove', function(e) {
    const trail = document.createElement('div');
    trail.style.position = 'absolute';
    trail.style.background = 'rgba(255, 0, 0, 0.6)';
    trail.style.borderRadius = '50%';
    trail.style.pointerEvents = 'none';
    trail.style.width = '10px';
    trail.style.height = '10px';
    trail.style.top = e.pageY + 'px';
    trail.style.left = e.pageX + 'px';
    document.body.appendChild(trail);
    setTimeout(() => trail.remove(), 500); // 0.5s后删除拖尾
});
</script>


